<div class="container">
	<p id="notice"><%= notice %></p>
	<p>
	  <h2 style="color: <%= @category.color %>;"><%= @category.name %></h2>
	</p>
	<div class="row">
		<%= render @category.articles %>
	</div>
	<!-- <%= link_to 'Edit', edit_category_path(@category) %> |-->
	<!-- <%= link_to 'Back', categories_path %> -->
</div>